<h1 class="center">Movie rental</h1>
  <nav ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="activeTab">
    <ng-container [ngbNavItem]="1">
      <a ngbNavLink routerLink="/">Home</a>
    </ng-container>
    <ng-container [ngbNavItem]="2">
      <a ngbNavLink routerLink="/search-movie">Search movie</a>
    </ng-container>
    <ng-container [ngbNavItem]="3">
      <a ngbNavLink routerLink="/contact">Contact us</a>
    </ng-container>
    <ng-container [ngbNavItem]="4">
      <a ngbNavLink routerLink="/shopping-cart">Shopping cart</a>
    </ng-container>

  </nav>

<router-outlet></router-outlet>
