<div class="center">
    <h3> Search for a movie title </h3>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <input id="searchText" type="text" formControlName="searchText">
        <button class="btn-primary" type="submit">Search</button>
    </form>
    <a *ngFor="let movie of movies; let i = index" [attr.data-index]="i" routerLink="/movie-information/{{titles[i]}}">
        {{movie}} 
        <pre></pre>
    </a>
    <option *ngIf="showMessage">
        Nothing matches your search
    </option>
</div>