<option class="center" *ngFor="let title of titles">
    {{title}} 
</option>
<form class="center"[formGroup]="submitOrderForm" (ngSubmit)="onSubmit()">
    <button class="btn btn-primary" *ngIf="!submitted"type="submit">Submit order</button>
</form>
<h2 class="center"*ngIf="submitted">The following order has been submitted:</h2>
<div *ngIf="submitted">
    <h3 class="center"  *ngFor="let title of orderedTitles">
        {{title}}
    </h3>
</div>

<p class="submitEmpty" *ngIf="emptySubmit">You cannot submit an empty order</p>